<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="Pull to update"
      refreshingText="Updating...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="ion-content-margin">
    <div class="t-spinner" *ngIf="isLoading$ | async">
      <div class="loader"></div>
    </div>
    <div *ngIf="!(isLoading$ | async)">
      <ion-list>
        <ion-list-header>
          Marked places
        </ion-list-header>

        <ion-item *ngFor="let marker of markers$ | async" (click)="showMarker(marker)">
          <ion-label>
            <h2>{{marker.placeName}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-fab
  vertical="bottom"
  horizontal="end"
  slot="fixed"
  (click)="createMarker()"
  *ngIf="!(isLoading$ | async)"
>
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
